# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

import panda dataframe library

In [1]:
import pandas as pd

Get data from wiki page:

In [2]:
# get table from wiki page:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [4]:
len(table)

3

In [3]:
# Table is a list (not a data frame) 
type(table)

list

In [3]:
# save dataframe
df= table[0]

In [5]:
df.shape

(288, 3)

In [4]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Wrangle 1. drop rows cotaining 'Not assigned'

In [5]:
import numpy as np
df.replace("Not assigned", np.nan, inplace = True)
df.head(5)

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
# summarise missing data:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postcode
False    288
Name: Postcode, dtype: int64

Borough
False    211
True      77
Name: Borough, dtype: int64

Neighbourhood
False    210
True      78
Name: Neighbourhood, dtype: int64

In [7]:
# drop missing data:
df.dropna(subset=["Borough"], axis=0, inplace=True)
df.shape

(211, 3)

In [8]:
# check null dataafter borough dropped
missing_data = df.isnull()
missing_data
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postcode
False    211
Name: Postcode, dtype: int64

Borough
False    211
Name: Borough, dtype: int64

Neighbourhood
False    210
True       1
Name: Neighbourhood, dtype: int64

In [9]:
df.dropna(subset=["Neighbourhood"], axis=0, inplace=True)
df.shape

(210, 3)

In [10]:
# check null data after borough and Neighbourhood dropped
missing_data = df.isnull()
missing_data
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postcode
False    210
Name: Postcode, dtype: int64

Borough
False    210
Name: Borough, dtype: int64

Neighbourhood
False    210
Name: Neighbourhood, dtype: int64

In [13]:
df

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M5A,Downtown Toronto,Regent Park
6,M6A,North York,Lawrence Heights
7,M6A,North York,Lawrence Manor
10,M9A,Etobicoke,Islington Avenue
11,M1B,Scarborough,Rouge
12,M1B,Scarborough,Malvern
14,M3B,North York,Don Mills North
15,M4B,East York,Woodbine Gardens
16,M4B,East York,Parkview Hill
17,M5B,Downtown Toronto,Ryerson
18,M5B,Downtown Toronto,Garden District
19,M6B,North York,Glencairn
22,M9B,Etobicoke,Cloverdale
23,M9B,Etobicoke,Islington
24,M9B,Etobicoke,Martin Grove
25,M9B,Etobicoke,Princess Gardens
26,M9B,Etobicoke,West Deane Park
27,M1C,Scarborough,Highland Creek
28,M1C,Scarborough,Rouge Hill
29,M1C,Scarborough,Port Union
31,M3C,North York,Flemingdon Park
32,M3C,North York,Don Mills South
33,M4C,East York,Woodbine Heights
34,M5C,Downtown Toronto,St. James Town
35,M6C,York,Humewood-Cedarvale
38,M9C,Etobicoke,Bloordale Gardens
39,M9C,Etobicoke,Eringate
...,...,...,...
235,M9V,Etobicoke,Thistletown
236,M1W,Scarborough,L'Amoreaux West
239,M4W,Downtown Toronto,Rosedale
240,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
243,M8W,Etobicoke,Alderwood
244,M8W,Etobicoke,Long Branch
245,M9W,Etobicoke,Northwest
246,M1X,Scarborough,Upper Rouge
249,M4X,Downtown Toronto,Cabbagetown
250,M4X,Downtown Toronto,St. James Town
251,M5X,Downtown Toronto,First Canadian Place
252,M5X,Downtown Toronto,Underground city
255,M8X,Etobicoke,The Kingsway
256,M8X,Etobicoke,Montgomery Road
257,M8X,Etobicoke,Old Mill North
262,M4Y,Downtown Toronto,Church and Wellesley
265,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
266,M8Y,Etobicoke,Humber Bay
267,M8Y,Etobicoke,King's Mill Park
268,M8Y,Etobicoke,Kingsway Park South East
269,M8Y,Etobicoke,Mimico NE
270,M8Y,Etobicoke,Old Mill South
271,M8Y,Etobicoke,The Queensway East
272,M8Y,Etobicoke,Royal York South East
273,M8Y,Etobicoke,Sunnylea
282,M8Z,Etobicoke,Kingsway Park South West
283,M8Z,Etobicoke,Mimico NW
284,M8Z,Etobicoke,The Queensway West
285,M8Z,Etobicoke,Royal York South West
286,M8Z,Etobicoke,South of Bloor

## Wrangle 2. One row per postcode area

In [11]:
df_grouped = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [12]:
df_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [13]:
df_grouped.shape

(102, 3)

## get the geographical coordinates

In [ ]:
# provided code in assignment instructions:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

## Workings (To be deleted before submitted)

practice by getting just one postcode area's long and lat...

In [25]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

geolocator = Nominatim(user_agent="")
location = geolocator.geocode("Canada, Toronto, M1B")
print((location.latitude, location.longitude))

(43.653963, -79.387207)

In [36]:
# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geolocator.geocode('{}, Toronto, Ontario'.format(df_grouped.Postcode))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

NameError: name 'Postcode' is not defined

In [67]:
Postcode_from_df = df_grouped.Postcode

In [ ]:
# get co-ord points, but not columns in the table
import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(df_grouped.Postcode))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

In [ ]:
# complete answer - but kernal crashing :
Postcode_from_df = df_grouped.Postcode
import geocoder

def get_geocoder(Postcode_from_df):
     # initialize the co-ord variable to None
     lat_lng_coords = None
     # loop until got the coordinates
     while(lat_lng_coords is None):
       g = geocoder.google('{}, Toronto, Ontario'.format(Postcode_from_df))
       lat_lng_coords = g.latlng
     latitude = lat_lng_coords[0]
     longitude = lat_lng_coords[1]
     return latitude,longitude

for i in range(0,len(df_grouped)):
    df_grouped['Latitude'][i],df_grouped['Longitude'][i]=get_geocoder(df_grouped.iloc[i]['Postcode'])

Install Geocoder via pip

# Answer - allocating long and lat to each PC area

In [18]:
pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 19.1MB/s
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.21.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.0)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Note: you may need to restart the kernel to use updated packages.

In [19]:
import geocoder

In [ ]:
coord = pd.read_csv("C:\Users\Anna\Downloads\Geospatial_Coordinates.csv")

In [21]:
# initialize your variable to None
lat_lng_coords = None

In [ ]:
# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(df_grouped.Postcode))
  lat_lng_coords = g.latlng
    
latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]
return latitude,longitude

Create latitude and longitude columns into dataframe

In [ ]:
for i in range(0,len(df_grouped)):
    df_grouped['Latitude'][i],df_grouped['Longitude'][i]=get_geocoder(df_grouped.iloc[i]['Postcode'])

### Kernel cannot handle it, so will have to us csv

In [14]:
coord = pd.read_csv("Geospatial_Coordinates.csv")

In [15]:
coord.shape

(103, 3)

In [16]:
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
coord.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
coord.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge dfs

In [18]:
geo_df = df_grouped.merge(coord,on='Postcode')
geo_df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [19]:
# summarise missing data:
missing_data = geo_df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postcode
False    102
Name: Postcode, dtype: int64

Borough
False    102
Name: Borough, dtype: int64

Neighbourhood
False    102
Name: Neighbourhood, dtype: int64

Latitude
False    102
Name: Latitude, dtype: int64

Longitude
False    102
Name: Longitude, dtype: int64

# Explore and cluster the neighborhoods in Toronto

In [29]:
import numpy as np # library for vectorized computation

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

# instructions:
Explore and cluster the neighborhoods in Toronto. You can decide to work with only boroughs that contain the word Toronto and then replicate the same analysis we did to the New York City data. It is up to you.

Just make sure:

to add enough Markdown cells to explain what you decided to do and to report any observations you make.
to generate maps to visualize your neighborhoods and how they cluster together.

Once you are happy with your analysis, submit a link to the new Notebook on your Github repository. (3 marks)

In [23]:
print('The dataframe has {} boroughs, {} neighborhoods and {} Postcode Areas.'.format(
        len(geo_df['Borough'].unique()),
        len(geo_df['Neighbourhood'].unique()),
        geo_df.shape[0]
    )
)

The dataframe has 10 boroughs, 102 neighborhoods and 102 Postcode Areas.

In [26]:
address = 'Toronto, CN'

geolocator = Nominatim(user_agent="cn_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto City are 43.6425637, -79.3870871832047.

In [31]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [35]:
# create map of Toronto using latitude and longitude values

map_Toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, in zip(geo_df['Latitude'], geo_df['Longitude'], geo_df['Borough']):
    label = '{}.format(geo_df['Borough'])
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_Toronto)  
    
map_Toronto

SyntaxError: invalid syntax (<ipython-input-35-1ed524c9548f>, line 7)